
  
 

body {
    color: white;
    text-align: center;
    background: #8946A6;
	font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
	
	
}
p{
    font-size: 20px;
    font-weight: 600;
}
label{
    font-size: 15px;
    padding: 5px;
}
input{
    background:white;
    border: none;
    font-size: 15px;
    padding: 10px;
    color: gray;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    margin-bottom: 15px;
}

h1{
    color: #white; font-family: 'Helvetica Neue', sans-serif;
     font-size: 50px;
      font-weight: bold; 
      letter-spacing: -1px;
       line-height: 1;
        text-align: center;
        text-shadow: 0 0 0.1em #212121, 0 0 0.1em #212121,
		0 0 0.9em #212121
}
.subtitulo{
    margin-top: -20px;
    color: #white; 
    font-family: 'Helvetica Neue', sans-serif;
    
    font-size: 20px;
     font-weight: bold; 
     letter-spacing: -1px;
      line-height: 1;
       text-align: center;
    
}
#calculadora{
    display: flex;
}
.cuadrado {
    -webkit-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);

    padding: 10px;
    width: 30%;
    padding: 20px 9px 20px 25px;    
    margin: 15px;
    text-align: center;
    border-radius: 35px 35px 35px 35px;
-moz-border-radius: 35px 35px 35px 35px;
-webkit-border-radius: 35px 35px 35px 35px;
border: 0px solid #000000;
}

.imagen{
    filter: invert(1) ;
    width: 200px;

}
.imagen2{
    filter:   brightness(150%);
    width: 200px;

}
.Triangulo {
    -webkit-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
    color: white;
    background:black;
    padding: 10px;
    width: 30%;
    padding: 20px 9px 20px 25px;   
    margin: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 0px solid #000000;
    
}
.circulo {
    -webkit-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
    color: white;
    background:black;
    padding: 20px 9px 20px 25px;
    width: 30%;
    margin: 15px ;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 0px solid #000000;
    
}

.boton {
    font-family: "Outfit", sans-serif;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
-moz-border-radius: 29px 29px 29px 29px;
-webkit-border-radius: 29px 29px 29px 29px;
border: 0px solid #000000;

background: #e4d2e6;  /* fallback for old browsers */

    font-size: 15px;
}
.boton:hover{
    -webkit-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
box-shadow: 6px 1px 28px 0px rgba(0,0,0,0.27);
    background: #634a66;  /* fallback for old browsers */
    color: white;
}

